table{
    width: 100%;
    background-color: blanchedalmond
}

tbody{
    width: 100%;
    background-color: aquamarine;
    text-align: center;
}
.e_form{
    display: none;
    margin-top: 20px;
    margin-left: 300px;
    width: 50%;
    background-color: rgb(191, 102, 123);
    text-align: center; 
    padding: 20px;
}

.form{
    margin-top: 20px;
    margin-left: 300px;
    width: 50%;
    background-color: rgb(191, 102, 123);
    text-align: center;
    padding: 20px;
}

h3{
    font-size: x-large;
    margin-top: 10px;
}